<%- include('./includes/head')  %>

<%- include('./includes/nav')  %>

<div class="row">
  <% if(tasks.length === 0){ %>
  <p>no tasks</p>
  <% }else{ %>
  <ul class="list-group">
    <% tasks.map((item)=>{ %>
    <a class="nav-link" href="/taskDetails/<%= item._id %>">
      <li class="list-group-item"><%= item.title %></li>
    </a>
    <%  }) %>
  </ul>

  <% } %>
</div>
<%- include('./includes/footer')  %>